
.searchAddButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
    padding-right:5%;
}
.table{
    padding-top: 50px;
}
.rowTable{
    display: flex;
    justify-content: center;
}